name: CI Pipeline

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
            - dev


env:
    PYTHON_VERSION: 3.11            

jobs:
    CleanCodeAndVulnerabilityChecks:
        name: CleanCodeCheck
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              id: checkout
              uses: actions/checkout@v4

            - name: SetUp Python
              id: setup-python
              uses: actions/setup-python@v4
              with:
                python-version: ${{ env.PYTHON_VERSION}}
            
            - name: Install python dependencies
              id: dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r 'requirements.txt'
                pip install flake8 pip-audit

            - name: Run CleanCode checks
              id: clean-code
              run: |
                flake8 app tests --max-line-length=120 --count --statistics --exclude=tests/* --ignore=E302,W293,W292

            - name: Run Vulnerability checks
              id: vulnerability-checks
              run: |
                pip-audit
                
            - name: Run OWASP Dependency-Check
              id: owasp-dependency-check
              run: |
                dependency-check --scan . --format XML --out owasp-dependency-check-report.xml
            
            - name: Run Unit Tests
              id: unit-tests
              run: |
                pytest tests/ -v --cov=app --cov-report=term-missing

        outputs:
            clean-code-result: ${{ steps.clean-code.outputs.result }}
            vulnerability-result: ${{ steps.vulnerability-checks.outputs.result }}
            owasp-dependency-check-result: ${{ steps.owasp-dependency-check.outputs.result }}
            unit-tests-result: ${{ steps.unit-tests.outputs.result }}